<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IBookEntities" connectionString="metadata=res://*/Book.csdl|res://*/Book.ssdl|res://*/Book.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=CHAOSNOW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>